@model Estabelecimento

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}
@{ var podeAgendar = ViewBag.podeAgendar; }
<link href="~/css/IndexEstab.css" rel="stylesheet" />
<div class="h-100 w-100 flexCenterColumn">
    <h4 class="textPink my-4">Informações @Model.Nome</h4>
    <feedback texto="@TempData["Erro"]" is-error="true"></feedback>
    <feedback texto="@TempData["Sucesso"]"></feedback>
    <feedback texto="@TempData["Info"]" classe="alert alert-info"></feedback>
    <div class="divSchedule flexRowPersonalized col-10 h-50">
        @if (podeAgendar)
        {
            @if (Model.Foto != null)
            {<img src="@Model.Foto" class="col-5 imgEstab" /> }
            else
            { <img src="~/img/no-image-found.png" class="col-5 imgEstab" />}
            <div class="flexCenterColumn col-5">
                @{
                    string data = ViewBag.data;
                    string dataUS = Convert.ToDateTime(DateTime.Today.ToShortDateString()).ToString("yyyy-MM-dd");
                    if (data != "")
                    {
                        dataUS = Convert.ToDateTime(data).ToString("yyyy-MM-dd");
                    }
                    IList<string> agendamentos = ViewBag.agendamentos;
                }
                <form class="flexCenterRow mb-2" asp-action="index">
                    <input type="date" class="form-control" name="dataBusca" value="@dataUS" />
                    <button type="submit" class="btn btnSearch w-25"><span class="material-icons text-white text-center">search</span></button>
                </form>
                <div class="col-12 flexCenterRow flex-wrap">
                    @if (agendamentos.Count > 0)
                    {
                        var lista = Model.Agenda.Horarios.Except(agendamentos).ToList();
                        if (lista.Count > 0)
                        {
                            foreach (var h in lista)
                            {
                                <form asp-action="AgendarHorario" asp-controller="Estabelecimento" class="col-4">
                                    <input name="horario" value="@h" type="hidden" />
                                    <input name="data" value="@ViewBag.data" type="hidden" />
                                    <button type="submit" class="col-12 my-2 scheduleParagraph btn">@h</button>
                                </form>
                            }
                        }
                        else
                        { <p class="text-info text-center">Não temos horários disponíveis para a data escolhida!</p> }
                    }

                    else
                    {
                        foreach (var h in Model.Agenda.Horarios)
                        {
                            <form asp-action="AgendarHorario" asp-controller="Estabelecimento" class="col-4">
                                <input name="horario" value="@h" type="hidden" />
                                <input name="data" value="@ViewBag.data" type="hidden" />
                                <button type="submit" class="col-12 my-2 scheduleParagraph btn">@h</button>
                            </form>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            @if (Model.Foto != null)
            {<img src="@Model.Foto" class="col-12 imgEstab" /> }
            else
            { <img src="~/img/no-image-found.png" class="col-12 imgEstab" />}
        }
    </div>
    <div class="d-flex justify-content-between h-50 col-12 mt-3" style="margin-left: 40px">
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Serviços oferecidos</h5>
            @foreach (var c in Model.Categorias)
            {
                <p class="text">@c</p>
            }
        </div>
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Contato @Model.Nome</h5>
            <h6>@Model.Telefone</h6>
        </div>
    </div>
</div>
