@model Estabelecimento

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}

<link href="~/css/IndexEstab.css" rel="stylesheet" />
<div class="h-100 w-100 flexCenterColumn">
    <h4 class="textPink my-3">Informações @Model.Nome</h4>
    <div class="divSchedule flexRowPersonalized col-10 h-50">
        @*<img src="~/img/estabs/villa-pet.png" class="col-5 imgEstab" />*@
        @if (Model.Foto != null)
        {<img src="@Model.Foto" class="col-5 imgEstab" /> }
        else
        { <img src="~/img/no-image-found.png" class="col-5 imgEstab" />}
        <div class="col-5 flexCenterRow flex-wrap">
            @if (ViewBag.horarios.Count == 0)
            {
                <h5 class="text-center">Desculpe, não temos horários disponíveis para o dia escolhido!</h5>
                @*<h5 class="text-center">Desculpe, estamos sem disponibilidade de agendamento para o dia escolhido!</h5>*@
            }
            else
            {
                foreach (var h in ViewBag.horarios)
                {
                    <button class="col-4 scheduleParagraph btn">@h</button>
                }

            }
        </div>
    </div>
    <div class="divInfo flexCenterRow h-50 col-10 mt-3">
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Serviços oferecidos</h5>
            @foreach (var c in Model.Categorias)
            {
                <p class="text">@c</p>
            }
        </div>
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Contato @Model.Nome</h5>
            <h6>@Model.Telefone</h6>
        </div>
    </div>
</div>
