@model Estabelecimento

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}
@{ var podeAgendar = ViewBag.podeAgendar; }
<link href="~/css/IndexEstab.css" rel="stylesheet" />
<div class="h-100 w-100 flexCenterColumn">
    <h4 class="textPink my-4">Informações @Model.Nome</h4>
    <feedback texto="@TempData["Erro"]" is-error="true"></feedback>
    <feedback texto="@TempData["Sucesso"]"></feedback>
    <feedback texto="@TempData["Info"]" classe="alert alert-info"></feedback>
    <div class="divSchedule flexRowPersonalized col-10 h-50">
        @if (podeAgendar)
        {
            @if (Model.Foto != null)
            {<img src="@Model.Foto" class="col-5 imgEstab" /> }
            else
            { <img src="~/img/no-image-found.png" class="col-5 imgEstab" />}
    <div class="flexCenterColumn col-5">
        <form class="flexCenterRow mb-2" asp-action="index">
            <input type="date" class="form-control" name="dataBusca" />
            <button type="submit" class="btn btnPink">buscar</button>
        </form>
        @{ 
            string data = ViewBag.data;
            IList<string> agendamentos = ViewBag.agendamentos;
        }
        @if (data != "")
        {
            <p class="form-control col-4 text-center">@data.Replace(" 00:00:00", "")</p>
        }
        <div class="col-12 flexCenterRow flex-wrap">
            @*@if (agendamentos.Count > 0) { Agenda agenda = new Agenda() { Horarios = new List<string>() };
                foreach (var h in Model.Agenda.Horarios)
                {
                    foreach (var a in agendamentos)
                    {
                        if (a == data && !agendamentos.Contains(h))
                        {
                            if (agenda.Horarios.Count == 0) { agenda.Horarios.Add(h); }
                            else
                            {
                                if (!agenda.Horarios.Contains(h))
                                {
                                    agenda.Horarios.Add(h);
                                    break;
                                }
                            }
                        }
                    }
                }*@
            @if (agendamentos.Count > 0)
            {
                var lista = Model.Agenda.Horarios.Except(agendamentos);
                foreach (var h in lista)
                {
                    <form asp-action="AgendarHorario" asp-controller="Estabelecimento" class="col-4">
                        <input name="horario" value="@h" type="hidden" />
                        <input name="data" value="@ViewBag.data" type="hidden" />
                        <button type="submit" class="col-12 my-2 scheduleParagraph btn">@h</button>
                    </form>

                }
            }

            else
            {
                foreach (var h in Model.Agenda.Horarios)
                {
                    <form asp-action="AgendarHorario" asp-controller="Estabelecimento" class="col-4">
                        <input name="horario" value="@h" type="hidden" />
                        <input name="data" value="@ViewBag.data" type="hidden" />
                        <button type="submit" class="col-12 my-2 scheduleParagraph btn">@h</button>
                    </form>
                }
            }

        </div>
    </div>
        }
        else
        {
            @if (Model.Foto != null)
            {<img src="@Model.Foto" class="col-12 imgEstab" /> }
            else
            { <img src="~/img/no-image-found.png" class="col-12 imgEstab" />}
        }
    </div>
    <div class="divInfo flexCenterRow h-50 col-10 mt-3">
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Serviços oferecidos</h5>
            @foreach (var c in Model.Categorias)
            {
                <p class="text">@c</p>
            }
        </div>
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Contato @Model.Nome</h5>
            <h6>@Model.Telefone</h6>
        </div>
    </div>
</div>
