@model IList<Estabelecimento>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}

<div>
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <div style="margin-left: 10%">
                <p style="font-size: 42px; font-weight: bold">Buscando por<span style="color: #DE9AE8">&nbsp;@(ViewBag.Pesquisa != null ? ViewBag.Pesquisa : "...")</span></p>
            </div>
            @if(Model != null)
            {
        <div class="d-flex flex-column align-items-center" style="height: 85%;">
            @foreach (var estab in Model)
            {
                <div class="d-flex align-items-center" style=" margin-left: 13%; background-color: aliceblue; width: 85%; border-radius: 7px; margin-bottom: 15px">
                    <div style="margin-right: 20px"><img style="width: 240px; height: 150px; border-radius: 7px 0 0 7px" src="@(estab.Foto == null ? "https://raw.githubusercontent.com/Poagilers-Fenix/WebApp-Challenge/main/Imagens/no-image-found.png?token=AOXNWKVBRD3WDDJKASDBZT3BHUBDY" : estab.Foto)" /></div>
                    <div style="font-size: 20px; margin-left: 1%;">
                        <p class="h4" style="color: #DE9AE8; margin-bottom: 2%; width: 10vw;">@estab.Nome</p>
                        @foreach (var categoria in estab.Categorias)
                        {
                            <p style="margin-bottom: 0">@categoria</p>
                        }
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="margin: 0 5%; width: 10vw;">
                        <p class="mb-0 text-nowrap">@estab.Telefone</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="margin-right: 5%; width: 10vw;" >
                        <p style="margin-bottom: 0">@estab.Endereco.Cidade -  @estab.Endereco.Bairro</p>
                    </div>
                    <div class="mx-auto" style="width: 10vw;">
                        <a class="btn btn-warning" asp-action="index" asp-route-id="@estab.EstabelecimentoId" asp-controller="estabelecimento">Ver Conteúdo</a>
                    </div>
                </div>
            }
            </div>
            } @if(Model == null || Model.Count == 0) {
                <a asp-action="Index" asp-controller="home" style="text-decoration: none; color: #DDA0DD"><p class="h3 mt-5" style="text-align: center">Realize uma pesquisa!</p></a>
            }
        </div>
    </div>
</div>
