@model IList<Estabelecimento>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}

<div>
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <feedback texto="@TempData["Info"]" classe="alert alert-info"></feedback>
            <div style="margin-left: 10%">
                <p style="font-size: 42px; font-weight: bold">Buscando por<span style="color: #DE9AE8">&nbsp;@(ViewBag.Pesquisa != null ? ViewBag.Pesquisa : "...")</span></p>
            </div>
            @if (Model != null)
            {
                <div class="d-flex flex-column align-items-center">
                    @foreach (var estab in Model)
                    {
                        <div class="d-flex align-items-center" style="background-color: aliceblue; border-radius: 7px; margin-bottom: 15px">
                            <div style="width: 70vw; height: 30vh" class="d-flex flex-row">
                                <div style="margin-right: 20px; width: 20vw; height: 30vh;">
                                    <div><img style="width: 20vw; height: 30vh; border-radius: 7px 0 0 7px" src="@(estab.Foto == null ? "https://raw.githubusercontent.com/Poagilers-Fenix/WebApp-Challenge/main/Imagens/no-image-found.png?token=AOXNWKVBRD3WDDJKASDBZT3BHUBDY" : estab.Foto)" /></div>
                                </div>
                                <div style="width: 50vw; height: 30vh;" class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column justify-content-center py-3 mr-3 align-items-center" style="height: 30vh; width: 20vw; overflow: hidden; text-overflow: ellipsis;">
                                        <p class="h4" style="color: #DE9AE8; margin: 0; text-align: center">@estab.Nome</p>
                                        @foreach (var categoria in estab.Categorias)
                                        {
                                            <p style="margin-bottom: 0; flex-wrap: nowrap; font-size: 20px; text-align: center ">@categoria</p>
                                        }
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center mx-3" style="width: 10vw; height: 30vh;">
                                        <p class="mb-0 text-nowrap" style="font-size: 20px;">@estab.Telefone</p>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center ml-3" style="width: 10vw; height: 30vh;">
                                        <p style="margin-bottom: 0; font-size: 20px; text-align: center">@estab.Endereco.Cidade -  @estab.Endereco.Bairro</p>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center mx-4" style="width: 10vw; height: 30vh;">
                                        <a class="btn text-white" style="background-color: #dda0dd;" asp-action="index" asp-route-id="@estab.EstabelecimentoId" asp-controller="estabelecimento">Ver Conteúdo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            } @if (Model == null || Model.Count == 0)
            {
                <a asp-action="Index" asp-controller="home" style="text-decoration: none; color: #DDA0DD"><p class="h3 mt-5" style="text-align: center">Realize uma pesquisa!</p></a>
            }
        </div>
    </div>
</div>